.section {
    background-color: white;
}

.section__header {
    padding: 20px;
    margin: 0;
    border: 1px solid hsl(0, 0%, 87%);
}

.section--under {
    border: 1px solid hsl(0, 0%, 87%);
    margin-top: 10px;
}

.section__title {
  font-size: 20px;
  margin: 0;
}

.section__div{
    display: grid;
    grid-template-rows: auto;
    align-content: center;
}

.buttons__button{
    border: none;
    color: teal;
    background:transparent;
    margin: 0 0 0 20px;
    transition: color 0,3s;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
}

.section__lowerheader {
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}